@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

/* Add a new font colour to the <body> element */
body {color: #031888}

/* Add a new background colour to the <nav> elements */
nav {background-color:  #6096FD}

/* Add a new background colour to the <footer> elements */
footer {background-color:#FB7B8E}

/* Style the <header></header> element using at least 2 properties */
header {background-color: #6096FD; 
    margin-bottom: -30px;
    font-size: 22px;
    vertical-align: center;}

/* Style the <h1 class="app-title"></h1> using at least 3 properties. */
h1.app-title {font-family: "Berkshire Swash", "Indie Flower", cursive;
    font-weight: bold; 
    font-style: italic;
    color: #031888;}

/* Style the <div class="main-table-container"></div> using at least 3 properties, two of which must be to ensure that it has:
o a maximum height value
o a vertical scroll bar */
div.main-table-container {max-height: 500px; 
    overflow: scroll; 
    border: solid 2px #161414;
    border-collapse: collapse} 

/* Add at least 4 style properties to 
the <th></th> elements inside the <table class="main-table-top"></table> element. */
table.main-table-top tbody tr th {font-weight: bold; 
    background-color: #FB7B8E; 
    text-align: left; 
    vertical-align: center;
    padding: 10px;
    border: solid 1px #FB7B8E;
    border-collapse: collapse;
    border-bottom-style: hidden;
    width: 790px;}

/* Add at least 4 style properties to the <td></td> elements 
inside the <table class="main-table"></table> element. */
table.main-table td {vertical-align: center; 
    padding: 10px; 
    border-right: solid 1px rgb(223, 221, 222);
    border-bottom: solid 1px rgb(223, 221, 222);
    border-collapse: collapse;}

/* Add at least 2 properties to all <span></span> 
elements that are used for the description of the pets. */
table.main-table p span {font-weight: bold; font-style:italic}